<div class="card p-3">
    <div class="card-body">
        <h4 class="text-dark-gray">Login to Inventry</h4><br>

        <form action="">
            <div class="form-group">
                <label for="" class="text-dark-gray">Email</label>
                <input type="text" class="form-control">
            </div><br>

            <div class="form-group">
                <label for="" class="text-dark-gray">Password</label>
                <input type="text" class="form-control">
            </div><br>

            <div class="d-flex justify-content-between">
                <button class="btn btn-primary" (click)="authenticateUser()">Submit</button>
                <a href="">Forgot Password?</a>
            </div>
        </form>
    </div>
</div>