@import './variables.scss';

.text-label {
    font-weight: $fw-bold;
    font-size: $form-label-font-size;
    color: #707074;
    line-height: 12px;
    text-transform: uppercase;
    letter-spacing: 0.02em;
}

// Layout Styling
.default-column-layout {
    height: calc(100vh - 124px);
    display: grid;
    grid-template-columns: 20% 1fr;
    grid-column-gap: 10px;
}

.equal-column-layout {
    height: calc(100vh - 124px);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column: 10px;
}

// Form Layout
.default-form-layout {
    height: 100%;
    padding: $padded-default;
    box-sizing: border-box;
}

.actions {
    height: 100%;
    padding: $padded-default;
    border-right: 1px solid #ddd;
}

.content {
    padding: $padded-default;
}