<header class="navbar navbar-expand-lg bg-dark mb-5">
    <div class="container">
        <a href="" class="navbar-brand">
            Logo
        </a>
    </div>
</header>

<div class="container h-100 mt-5">
    <div class="row">
        <div class="col">
            <router-outlet></router-outlet>
        </div>

        <div class="col-7">
        </div>
    </div>
</div>

<footer class="navbar fixed-bottom navbar-light bg-light">
    <div class="container h-100 d-flex align-items-center text-dark-gray">
        <p>
            <span>© 2020 Inventry Inc.</span>&nbsp;&nbsp;&nbsp;
            <a href="">Security</a>&nbsp;&nbsp;
            <a href="">Legal</a>&nbsp;&nbsp;
            <a href="">Status</a>&nbsp;&nbsp;
        </p>
    </div>
</footer>