<div class="content product-detail">
    <div class="card w-100">
        <div class="card-header bg-white">
            <b>Product Information</b>
        </div>

        <div class="card-body">
            <div class="form-group w-50">
                <label for="name" class="text-label">product name</label>
                <p><b>{{product.name}}</b></p>
            </div>

            <div class="form-row">
                <div class="col">
                    <label for="price" class="text-label">price *</label>
                    <p><b>{{product.price}}</b></p>
                </div>
                <div class="col">
                    <label for="description" class="text-label">description</label>
                    <p>{{product.description}}</p>
                </div>
            </div>

            <div class="form-row">
                <div class="col">
                    <label for="category" class="text-label">category</label>
                    <p><b>Product Category</b></p>
                </div>
                <div class="col">
                    <label for="status" class="text-label">status</label>
                    <p><b>{{product.status}}</b></p>
                </div>
            </div>
        </div>
    </div>
</div>
