<div class="content">
    <table class="table border bg-white">
        <thead class="bg-gray">
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Description</th>
                <th>Price</th>
                <th>Category</th>
                <th>Status</th>
                <th>Date</th>
            </tr>
        </thead>

        <tbody>
            <tr *ngFor="let product of products">
                <td>{{product.product_id}}</td>
                <td>{{product.name}}</td>
                <td>{{product.description}}</td>
                <td>{{product.price | currency}}</td>
                <td>{{product.category}}</td>
                <td>{{product.status}}</td>
                <td>{{product.created_at | date: 'mediumDate'}}</td>
            </tr>
        </tbody>
    </table>
</div>