
<div class="actions">

    <p class="h6 text-dark-gray">DATE RANGE</p>
    <button class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
        Mar 21, 2020 - May 8, 2020
        <div class="badge badge-pill">
            <svg class="bi bi-calendar" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M14 0H2a2 2 0 00-2 2v12a2 2 0 002 2h12a2 2 0 002-2V2a2 2 0 00-2-2zM1 3.857C1 3.384 1.448 3 2 3h12c.552 0 1 .384 1 .857v10.286c0 .473-.448.857-1 .857H2c-.552 0-1-.384-1-.857V3.857z" clip-rule="evenodd"/>
                <path fill-rule="evenodd" d="M6.5 7a1 1 0 100-2 1 1 0 000 2zm3 0a1 1 0 100-2 1 1 0 000 2zm3 0a1 1 0 100-2 1 1 0 000 2zm-9 3a1 1 0 100-2 1 1 0 000 2zm3 0a1 1 0 100-2 1 1 0 000 2zm3 0a1 1 0 100-2 1 1 0 000 2zm3 0a1 1 0 100-2 1 1 0 000 2zm-9 3a1 1 0 100-2 1 1 0 000 2zm3 0a1 1 0 100-2 1 1 0 000 2zm3 0a1 1 0 100-2 1 1 0 000 2z" clip-rule="evenodd"/>
            </svg>
        </div>
    </button><br>
    
    <p class="h6 text-dark-gray">ORDER STATUS</p>
    <div class="list-group">
        <button 
            class="list-group-item list-group-item-action d-flex justify-content-between align-items-center"
            [ngClass]="{'active': status === 'all'}"
            (click)="statusFilter('all')">
            All
            <span class="badge badge-pill">50</span>
        </button>
        <button
            class="list-group-item list-group-item-action d-flex justify-content-between align-items-center"
            [ngClass]="{'active': status === 'completed'}"
            (click)="statusFilter('completed')">
            Completed
            <span class="badge badge-pill">50</span>
        </button>
        <button 
            class="list-group-item list-group-item-action d-flex justify-content-between align-items-center active"
            [ngClass]="{'active': status === 'cancel'}"
            (click)="statusFilter('cancel')">
            Cancelled
            <span class="badge badge-pill">100</span>
        </button>
        <button
            class="list-group-item list-group-item-action d-flex justify-content-between align-items-center"
            [ngClass]="{'active': status === 'pending'}"
            (click)="statusFilter('pending')">
            Pending
            <span class="badge badge-pill">100</span>
        </button>
        <button
            class="list-group-item list-group-item-action d-flex justify-content-between align-items-center"
            [ngClass]="{'active': status === 'onhold'}"
            (click)="statusFilter('onhold')">
            On Hold
            <span class="badge badge-pill">0</span>
        </button>
    </div>

    <hr>

    <button class="btn btn-block btn-outline-primary" (click)="setDefaultFilters()">Clear Filters</button>
</div>