<div class="content product-transaction-history">
    <div class="card w-100">
        <div class="card-header bg-white">
            <b>Transaction History</b>
        </div>
        <table class="table bg-white">
            <thead class="text-dark-gray bg-gray">
                <tr>
                    <th>Type</th>
                    <th>Quantity</th>
                    <th>Total</th>
                    <th>Date</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><b>Order</b></td>
                    <td>200</td>
                    <td>5,000.00</td>
                    <td>2020-01-04</td>
                    <td><span class="badge badge-success">completed</span></td>
                </tr>
                <tr>
                    <td><b>Order</b></td>
                    <td>200</td>
                    <td>4,000.00</td>
                    <td>2020-02-05</td>
                    <td><span class="badge badge-success">completed</span></td>
                </tr>
                <tr>
                    <td><b>Order</b></td>
                    <td>200</td>
                    <td>5,000.00</td>
                    <td>2020-03-04</td>
                    <td><span class="badge badge-warning">cancelled</span></td>
                </tr>
                <tr>
                    <td><b>Restock</b></td>
                    <td>1000</td>
                    <td>50,000.00</td>
                    <td>2020-08-04</td>
                    <td><span class="badge badge-success">completed</span></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
